div.container {
  background-color: rgba(0, 0, 0, 0.8);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: flex;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  background-image: url('../img/mickey-mouse.jpg');
  background-size: cover;
  z-index: -1;
  background-position: center;
  justify-content: space-around;
}
header img#nav-icon {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
header nav.navigation {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 1.25%;
}
header nav.navigation a.nav-links {
  display: flex;
  text-decoration: none;
  font-size: 1.3rem;
  color: steelblue !important;
}
header nav.navigation a.nav-links:hover {
  color: #5bc0de !important;
}
div.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
div.hero-text h2 {
  font-family: Domine;
  font-weight: lighter;
}
div.hero-text h4 {
  font-family: Domine;
  font-weight: lighter;
}
footer {
  color: white !important;
}
footer button.btn .btn-danger {
  padding-left: 3rem;
}
div.headlines {
  color: #1d83c1 !important;
}
div.headlines h1 {
  font-weight: bolder;
}
div.headlines h3 {
  font-style: italic;
}
div.row .card {
  border: none;
  padding-bottom: 3rem;
}
div.row .card button {
  color: white;
  background-color: #1d83c1 !important;
  border-radius: 5%;
  padding: 8px;
  padding-left: 4rem;
  padding-right: 4rem;
}
div.row .card button:hover {
  background-color: #5bc0de !important;
}
