// sections sytling
div.headlines{
  color: @main-color !important;
  h1 {
    color: black !important;
    font-weight: bolder;
    }
  h3 {
    font-style: italic;
  }
}


div.row {
  .card {
    border: none;
    padding-bottom: 3rem;


    button {
      color: white;
      background-color: @main-color !important;
      border-radius: 5%;
      padding: 8px;
      padding-left: 4rem;
      padding-right: 4rem;

      &:hover{
        background-color: #5bc0de !important;
      }

    }
  }
}
