
header {
  display: flex;
    background-image: url('../img/mickey-mouse.jpg');
    background-size: cover;
    z-index: -1;
    background-position: center;
    justify-content: space-around;


      img#nav-icon{
        display: flex;
        justify-content: center;
        width:3rem;
        height: 3rem;

    }

      nav.navigation {
      display:flex;
      background-color: rgba(0,0,0,0.8);
      border: 1px solid black;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      padding: 2% 5%;


        a.nav-links {
          display: flex;
          text-decoration: none;
          font-size: 1.5rem;
          color: steelblue !important;

        &:hover{
          color:#5bc0de !important;
        }

        }
      }
      }
      div.hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        h2 {
          font-family: Domine;
          font-weight: lighter;
        }
        h4 {
          font-family: Domine;
          font-weight: lighter;
        }
      }
